*/.DS_Store
*/*/.DS_Store
*.zip
*.komodoproject
.komodotools
*.sql
/*.json
*.log
*.txt

/craptastic
/public/craptastic
/public/css/pre-git
/public/img
/public/js/pre-git

/py/bak
/py/copypasta.py
/py/work
/py/*.json

/whatwhat
/.firebase
.firebaserc
/node_modules
