*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: Rubik,sans-serif;
}
body { /* default colors below refer to 2018 branding */
    /*min-width: 100vw;*/
    min-height: 100vh;
    background-attachment: fixed;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a2e9ed+0,25ccd5+100 */
    background: #a2e9ed; /* Old browsers */
    background: -moz-linear-gradient(top, #a2e9ed 0%, #25ccd5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a2e9ed 0%,#25ccd5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a2e9ed 0%,#25ccd5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2e9ed', endColorstr='#25ccd5',GradientType=0 ); /* IE6-9 */
}
h1 {
    display: inline-block;
    margin: 0 auto;
    font-size: 3em;
}
h2 {
    margin-bottom: 15px;
    font-size: 1.65em;
}
h3 {
    margin-bottom: 0.8em;
}
p {
    margin-bottom: 5px;
}
p.bold {
    font-size: 1.15em;
    font-weight: bold;
}
.noscroll {
    overflow: hidden;
}

.menu


/* START branding and color information by year (default is 2018) */
/* 2019 Tel Aviv */
.color2019 {
    background-color: #0c1330;
}
.color2019-grad {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#022957+0,022957+100&1+0,0.1+100 */
    background: -moz-linear-gradient(top, rgba(2,41,87,1) 0%, rgba(2,41,87,0.1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(2,41,87,1) 0%,rgba(2,41,87,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(2,41,87,1) 0%,rgba(2,41,87,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#022957', endColorstr='#1a022957',GradientType=0 ); /* IE6-9 */
}
/* END branding and color */

/* overlay window for messages and voting */
#overlay {
    z-index: 1000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(50,50,50,0.5);
    text-align: center;
}
#overlay #overlay_content {
    margin: 0 auto;
    max-width: 500px;
    background: #FFFFFF;
}
#overlay #overlay_content #allthesongs {
    list-style-type: none;
}
#overlay #overlay_content #allthesongs li {
    position: relative;
}
#overlay #overlay_content #whatisthis {
    height: 100vh;
}
#overlay #overlay_content #whatisthis .sc_actions {
    padding-top: 10px;
    padding-bottom: 8px;
}
#overlay #overlay_content #whatisthis .content {
    overflow: scroll;
    padding: 0 10px;
    height: calc(100vh - 40px);
}
#overlay #overlay_content #whatisthis p,
#overlay #overlay_content #whatisthis ul,
#overlay #overlay_content #whatisthis li {
    margin-bottom: 1.5em;
    text-align: left;
}
#overlay #overlay_content #whatisthis ul ul,
#overlay #overlay_content #whatisthis ul ul li {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    font-size: 0.9em;
}
#overlay #overlay_content #whatisthis ul {
    margin-left: 1.5em;
}
#overlay #overlay_content #whatisthis h4 {
    margin-bottom: 0.8em;
    font-size: 1.5em;
    text-align: left;
}
#overlay #overlay_content #whatisthis hr {
    margin: 30px 0;
}
#overlay #overlay_content #whatisthis .smaller {
    margin: 0.5em 0;
    display: block;
    font-size: 0.7em;
}
#overlay #overlay_content .notvisible {
    display: none;
}



#header {
    margin: 0 auto 20px;
    padding: 0;
    border-radius: 0 0 4px 4px;
    max-width: 500px;
    background-color: rgba(200,200,200,0.5);
    text-align: center;
}
#header h2 {
    display: flex;
    margin-bottom: 5px;
    height: 1.5em;
}
#header h2 > div {
    flex-grow: 1;
}
#header h2 .littletext {
    display: inline-block;
    padding-right: 8px;
    font-size: 0.4em;
    text-align: right;
    line-height: 4em;
}
#header h2 #ev_logo {
    display: inline-block;
    height: 100%;
    text-align: left;
}
#header h2 #ev_logo img {
    height: 100%;
}

#header nav ul {
    display: flex;
    list-style-type: none;
}
#header nav ul li {
    display: inline-block;
    padding: 5px 0 5px;
    flex-grow: 1;
    background-color: #022957;
    color: #DDD;
    border: 1px solid #AAA;
}
#header nav ul li:hover {
    background-color: #526D8C;
    color: white;
}
#header nav ul li:active {
    color: #BBB;
}
#main {
    margin: 0 auto;
    max-width: 500px;
}
#main > p {
    margin: 0 10px 4px;
    color: whitesmoke;
}
#main #setthestage {
    display: none;
    width: 100%;
    height: 100%;
}
#main #setthestage #sts_content {
    margin-top: 20%;
    text-align: center;
    font-size: 2em;
}
#main #setthestage #sts_content img {
    width: 100%;
}

.menu {
    display: flex;
    margin-bottom: 0;
    margin-left: 0;
    list-style-type: none;
    font-size: 1.5em;
}
.menu li {
    display: inline-block;
    padding: 5px 0 5px;
    margin-bottom: 0;
    border: 1px solid #AAA;
    background-color: #022957;
    flex-grow: 1;
    font-weight: bold;
    text-align: center;
    color: #DDD;
}
.menu li:hover,
.menu li:active {
    background-color: #004b9b;
    color: #AAA;
}
.menu li.pp_view {
    background-color: #3a70aa;
}


/* initially hide the full venue vote column */
.votingpanel {
    display: none;
    margin: 20px 0 50px;
}
.votingpanel h2 {
    display: flex;
}
.votingpanel h2 > span {
    display: inline-block;
    height: 1em;
    width: 50%;
}
.votingpanel h2 > span:last-child {
    display: none;
    padding-left: 8px;
}
/* end this section */

/* -=-=-=-=- LEADERBOARD STYLES -=-=-=-=- */
#chooseUr10 {
    margin: 0 0 90px;
    list-style-type: none;
}
#chooseUr10 li {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    height: 75px;
}
#chooseUr10 .chooseasong {
    display: flex;
    border: 2px solid #022957;
    height: 100%;
    text-align: left;
    overflow: hidden;
}
#chooseUr10 .myvotes {
    width: 100%;
}
#chooseUr10 .venuevotes,
#chooseUr10 .venuevotes .vv_place,
#chooseUr10 .venuevotes .vv_info {
    margin: 0;
    border-width: 0;
    width: 0;
}

#chooseUr10 .chooseasong .thissong {
    display: flex;
    width: 100%;
}
#chooseUr10 .chooseasong .thissong .vv_place {
    display: inline-block;
    flex-shrink: 0;
    padding-top: 0.6em;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,dbe079+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #dbe079 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#dbe079 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#dbe079 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbe079',GradientType=0 ); /* IE6-9 */;
    width: 60px;
    height: 100%;
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;  
}
#chooseUr10 .chooseasong .thissong .vv_place::after {
    display: block;
    content: 'points';
    font-size: 0.4em;
    line-height: 0.5em;
}
#myvotes > h2 {
    color: #FFF;
}
#myvotes > h2, #myvotes > p {
    padding: 0 8px;
}
#myvotes > p {
    margin-bottom: 18px;
}
#myvotes #toggle_leaders {
    margin: 0 0 10px;
    text-align: center;
}
#myvotes #toggle_leaders button {
    width: 95%;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #aaccee;
    border: 1px solid #555;
}
#myvotes #chooseUr10 li:last-child .vv_place::after {
    content: 'point';
}
#myvotes #chooseUr10 .songOrder {
    display: none;
}
.vv_info {
    flex-grow: 2;
    display: inline-block;
    background: url('../img/daretodream_logo_100.png') #0c1330 no-repeat center center;
    background-size: contain;
    color: #000;
    text-shadow: 1px 1px #FFF, -1px 1px #FFF, -1px -1px #FFF, 1px -1px #FFF; 
}
#myvotes .vv_info {
    position: relative;
}
.song {
    background-color: #0C1330;
    color: #000;
    text-align: left;
    text-shadow: 1px 1px #FFF, -1px 1px #FFF, -1px -1px #FFF, 1px -1px #FFF;    
}
.song .sc_info {
    width: 100%;
    height: 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c1330+0,0c1330+100&1+0,1+30,0+100 */
background: -moz-linear-gradient(left, rgba(12,19,48,1) 0%, rgba(12,19,48,1) 30%, rgba(12,19,48,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(12,19,48,1) 0%,rgba(12,19,48,1) 30%,rgba(12,19,48,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(12,19,48,1) 0%,rgba(12,19,48,1) 30%,rgba(12,19,48,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c1330', endColorstr='#000c1330',GradientType=1 ); /* IE6-9 */
}
.song h3 {
    margin-left: 10px;
    margin-bottom: 4px;
    font-size: 1.1em;
}
.song h4 {
    margin-left: 10px;
}
.song h4 > span {
    font-size: 0.75em;
}
.sAs {
    display: inline-block;
    width: 100%;
    line-height: 4em;
    text-align: center;
}

/* -=-=-=- The Song Container -=-=-=- */
.songcontainer {
    display: flex;
    border: none;
    height: 100%;
    color: #000000;
}
.songcontainer .flag,
.venuevotes .flag {
    position: relative;
    flex-shrink: 0;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    width: 100px;
    text-align: center;
    vertical-align: top;
}
.venuevotes .flag {
    width: 100%;
    text-transform: capitalize;
}
.songcontainer .flag img,
.venuevotes .flag img {
    width: 100%;
    height: 100%;
}
#songchooser #allthesongs li .flag {
    width: 120px;
}
.songcontainer .flag .f_text,
.venuevotes .flag .f_text {
    display: inline-block;
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    font-size: 0.85em;
    text-shadow: none;
    background-color: rgba(33, 51, 104, 0.5);
    color: #FFFFFF;
}
.songcontainer .song {
    position: relative;
    flex-grow: 2;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.songcontainer .song h3,
.songcontainer .song h4 {
    width: calc(100% - 65px);
}
#chooseUr10 .songcontainer .song h3,
#chooseUr10 .songcontainer .song h4 {
    width: calc(100% - 10px);
}
.songcontainer .song .songOrder {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px 8px;
    background-color: #000;
    font-size: 1.6em;
    font-weight: bold;
    color: #FFFF00;
    text-shadow: none;
}

/* -=-=-=- song chooser panel -=-=-=- */
#songchooser {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#songchooser .sc_actions {
    display: flex;
    padding-top: 10px;
    margin-bottom: 15px;
}
#songchooser .sc_a_choose {
    margin-bottom: 10px;
    margin-left: 4px;
    font-size: 0.95em;
    text-align: center;
}
#songchooser .sc_a_choose .sc_a_points_points {
    font-size: 1.1em;
    font-weight: bold;
}
#songchooser .sc_a_choose .douze {
    font-size: 1.25em;
    font-weight: bold;
    color: #FFC901;
    text-shadow: 1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000, -1px 1px 1px #000;
}
#songchooser #allthesongs {
    overflow: scroll;
    height: calc(100vh - 100px);
    cursor: pointer;
}
#songchooser #allthesongs li {
    margin-bottom: 0.5em;
    height: 90px;
}
/* -=-=-=- thanx for voting! -=-=-=- */
#thanxforvoting {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
}
#thanxforvoting .words {
    margin: 40% 10px 0;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    background-color: #FFF;
}
#thanxforvoting .words h3 {
    font-size: 1.5em;
}

/* -=-=-=- voting buttons -=-=-=- */
.vv_button {
    display: block;
    margin: 0 auto;
    padding: 4px 20px;
    max-height: 1.85em;
    border: 1px solid #DDB932;
    outline: none;
    background-color: #FFC901;
    font-size: 1.15em;
    font-weight: bold;
    border-radius: 10px;
}
.vv_button:hover {
    background-color: #ffe27c;
}
.vv_button:active {
    border: 1px solid #FFC901;
    background-color: #DDB932;
}
.vv_button#clearleaderboard {
    margin-top: 15px;
    font-size: 0.8em;
}
.vv_button.clearthis {
    flex-grow: 2;
    margin: 0 10px;
}
.vv_button.cw {
    margin-right: 10px;
    padding: 4px 0.6em;
    max-width: 1.85em;
}
#viewmine,
#viewleaders {
    margin-bottom: 0.85em;
}

/* -=-=-=- participants page -=-=-=- */
#overlay #overlay_content #whatisthis #about_ppants_sort {
    display: flex;
    margin-bottom: 0;
    margin-left: 0;
    list-style-type: none;
    font-size: 1.5em;
}
#overlay #overlay_content #whatisthis #about_ppants_sort li {
    display: inline-block;
    padding: 5px 0 5px;
    margin-bottom: 0;
    border: 1px solid #AAA;
    background-color: #022957;
    flex-grow: 1;
    font-weight: bold;
    text-align: center;
    color: #DDD;
}
#overlay #overlay_content #whatisthis #about_ppants_sort li:hover,
#overlay #overlay_content #whatisthis #about_ppants_sort li:active {
    background-color: #004b9b;
    color: #AAA;
}
#overlay #overlay_content #whatisthis #about_ppants_sort li.pp_view {
    background-color: #3a70aa;
}

#overlay #overlay_content #whatisthis #about_ppants_list {
    list-style-type: none;
    margin-left: 0;
}
#overlay #overlay_content #whatisthis #about_ppants_list li {
    position: relative;
    margin-bottom: 0;
    height: 150px;
    overflow: hidden;
}
#overlay #overlay_content #whatisthis #about_ppants_list .flag {
    float: left;
    z-index: 1505;
    width: 65px;
    height: 65px;
    font-size: 0.75em;
}
#overlay #overlay_content #whatisthis #about_ppants_list .song {
    position: absolute;
    top: 0;
    left: 0;
    z-index:1500;
    height: 150px;
    width: 100%;
    border-bottom: 1px solid #FFF;
    background-size: cover;
}
#overlay #overlay_content #whatisthis #about_ppants_list .song .sc_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    background: rgba(12,19,48,0.2);
    font-size: 1em;
}
#overlay #overlay_content #whatisthis #about_ppants_list .song h3,
#overlay #overlay_content #whatisthis #about_ppants_list .song h4 {
    margin-left: 70px;
    margin-bottom: 0;
    font-size: 1.5em;
    text-align: center;
}
#overlay #overlay_content #whatisthis #about_ppants_list .song h4 span {
    display: block;
    font-size: 0.45em;
}
#overlay #overlay_content #whatisthis #about_ppants_list .song h3:before {
    content: "\"";
}
#overlay #overlay_content #whatisthis #about_ppants_list .song h3:after {
    content: "\"";
}
#overlay #overlay_content #whatisthis #about_ppants_list .song .songOrder {
    display: none;
}

/* FOOTER */
footer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 750;
}
footer ul {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
}